
      <!-- My Tickets List -->
      <div id="my-tickets-content" >
        <h3 class="mb-4">Mis Tickets</h3>
        
        <div class="ticket-list">
            <div class="ticket-filters">
                <!--<div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar tickets..." id="ticket-search">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>-->

                <!--<select class="form-select" id="filter-status" style="max-width: 200px;">
                    <option value="todos" selected>Todos los estados</option>
                    <option value="abierto">Abiertos</option>
                    <option value="en-proceso">En proceso</option>
                    <option value="cerrado">Cerrados</option>
                </select>-->
                
            </div>
            
            <div class="tickets-container">
                <div class="ticket-card" *ngFor="let ticket of tickets">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="mb-1">{{ticket.number}} - {{ticket.categoria}}</h5>
                        <span class="ticket-status status-en-proceso">{{ticket.status}} - {{ticket.priority | uppercase}}</span>
                    </div>
                    <p class="mb-1">{{ticket.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Creado: {{ticket.created_at.$date | date: 'dd-MM-yyyy'}}</small>
                        <a  class="btn btn-sm btn-outline-primary" *ngIf="ticket.status !== 'CLOSED'" (click)="atenderTicket(ticket)">Atender</a>
                    </div>
                </div>
                
            </div>
            <!--<nav aria-label="Paginación de tickets" class="mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript:void(0)">Anterior</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">Siguiente</a>
                    </li>
                </ul>
            </nav>-->
            
        </div>
    </div>